.title-1{
    font-size: var(--font-1);
    font-weight: var(--font-weight-1);
}

.title-2{
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
}

.text-1{
    font-size: var(--font-2);
    font-weight: var(--font-weight-2);
}

.text-2{
    font-size: var(--font-3);
    font-weight: var(--font-weight-1);
}

.text-3{
    font-size: var(--font-3);
    font-weight: var(--font-weight-2);
}

.text-4{
    font-size: var(--font-4);
    font-weight: var(--font-weight-2);
}
